
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Recipe Book</span>
      <span class="icon-bar" *ngFor="let i of [1, 2, 3]"></span>
    </button>
    <a routerLink="/" class="navbar-brand" style="cursor: pointer;">Recipe Book</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li> -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="recipes" fragment="loading">Recipes</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['shopping-list']">Shopping List</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropdown>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
