<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit (ingradientCreated)="onIngredientCreated($event)">
      <button #createButton class="btn btn-success" type="submit">Create</button>
      <button class="btn btn-danger" type="button">Delete</button>
      <button class="btn btn-default" type="button">Clear</button>
    </app-shopping-edit>
    <hr>
    <ul class="list-group">
      <li *ngFor="let ingredient of ingredients" class="list-group-item">
        <a style="cursor: pointer;">
          {{ ingredient.name }} ({{ ingredient.amount }})
        </a>
      </li>
    </ul>
  </div>
</div>
