<div class="row">
  <form class="col-xs-12 col-sm-9 col-md-6" (submit)="onSubmit()">
    <div class="row form-group">
      <div class="col-sm-5">
        <label for="name">Name</label>
      </div>
      <div class="col-sm-7"><input #nameInput name="name" type="text" id="name" class="form-control"></div>
    </div>
    <div class="row form-group">
      <div class="col-sm-5">
        <label for="amount">Amount</label>
      </div>
      <div class="col-sm-7"><input #amountInput name="amount" type="number" id="amount" class="form-control"></div>
    </div>
    <div class="row">
      <div class="col-sm-7 col-sm-offset-5">
        <ng-content></ng-content>
      </div>
    </div>
  </form>
</div>
